body{
    color: #222222;
    font-weight: 400;
    --yellow: #F7CD37;
    --white-: #FFF;
    --blue: #2473DB;
    --black: #000000;
    --red: #FF0000;
    font-family: 'Open Sans', sans-serif;
}


button:focus{
    outline: none;
}
.btn-primary,
.btn-primary:active,
.btn-primary:not(:disabled):not(.disabled):active{
    background-color: #9B5DE5;
    border-color: #9B5DE5;
    font-size: 14px;
    font-weight: 600;
    padding: 6px 26px;
}

.error{
   color: red;
   font-size: 13px; 
}
.border-right{
    border-right: 1px solid #D9D9D9;
}
.login-page{
    background-color:  #222222 !important;
}
.login-box, .register-box {
    width: 431px;
}
.login-logo{
    margin-bottom: 0;
}
.login-box .card, .register-box .card {
    box-shadow: none;
    border: none;
    border-radius: 10px;
}
.login-card-body, .register-card-body{
    color: #000000;
    border-radius: 10px;
    padding: 30px;
}
.login-title-box{
    padding: 20px;
    text-align: center;
}
h4.login-title{
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    margin: 5px 0 0px;
}
.login-sub-title{
    font-size: 14px;
    margin: 0 20px;
    text-align: center;
    margin-top: 12px;
}
.login-card-body .form-control,
.register-card-body .form-control{
    padding: 9px 12px;
    height: 44px;
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
    border: 1px solid #D9D9D9;
    background-color: #fff !important;
    font-size: 14px;
}
.login-card-body label,
.register-card-body label{
    font-size: 14px;
    font-weight: 600 !important;
    width: 100%;
}
.login-card-body .input-group .input-group-text,.register-card-body .input-group .input-group-text,
.login-card-body .input-group .input-group-text:focus,.register-card-body .input-group .input-group-text:focus{
    border-color: #D9D9D9 !important;
}
.icheck-primary label{
    font-size: 13px;
}
.login-card-body .input-group .input-group-text span{
    color: #A2A2A2;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    background-color: #9B5DE5 !important; 
    transition: background-color 5000s ease-in-out 0s;
}
.icheck-primary label::before{
    content: '';
    display: inline-block;
    position: absolute;
    width: 18px;
    height: 18px;
    top: 2px;
    border: 1px solid #D9D9D9 !important;
    border-radius: 2px !important;
    margin-left: -30px !important;
}
[class*=icheck-]>label{
    font-weight: 400 !important;
    padding-left: 30px !important;
}
.icheck-primary .custom-checked{
    display: none;
}
.icheck-primary input[type=checkbox]:checked + span{
    display: inline-block;
    position: absolute;
    top: 2px;
}
.icheck-primary input[type=checkbox]:checked + span + label::before{
    content: initial;
}
.forgot-link{
    text-align: right;
    margin: 5px 0 0;
}
.forgot-link a{
    font-size: 14px;
    color: var(--yellow);
}
.refresh-button{
    margin-top: 30px !important;
}
.refresh-button,
.refresh-button:hover,
.refresh-button:focus{
    background-color: transparent;
    border: none;
}
.btn-block{
    width: auto;
}
.layout-fixed .main-sidebar{
    background-color: #222222;
}
.main-sidebar .brand-link{
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid rgba(0,0,0,0.15);
}
.nav-sidebar .nav-item .nav-link{
    padding: 12px 16px;
    margin-bottom: 0;
}
.nav-sidebar .nav-item .nav-link.active{
    background-color: #9B5DE5 !important;
    border-radius: 0 !important;
}   
.nav-sidebar .nav-link p{
    font-size: 14px;
    color: #fff;
}
.nav-sidebar .nav-link p i{
    font-size: 17px;
    position: relative;
    top: 2px;
    margin-left: 60px;
}
.nav-sidebar .nav-item .nav-icon{
    font-size: 14px !important;
    color: #fff;
    margin-right: 10px;
}
.os-content{
    padding: 0 !important;
}
.main-header .navbar-nav .nav-item .nav-link i{
    color: #9B5DE5;
    font-size: 16px;
}
.profile-img{
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}
.profile-item .nav-link{
    padding: 0 10px;
}
.profile-item .nav-link .profile-name{
    display: inline-block;
    font-size: 14px;
    color: #545871;
    font-weight: 600;
}
.profile-item .nav-link i{
    margin-left: 7px;
}
.profile-img img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.main-footer{
    padding: 12px 16px;
    background-color: #222222;
}
.main-footer a{
    color: #53565A;
    font-size: 14px;
}
.content-header h1{
    font-size: 22px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: #FFF !important
}
.small-box{
    border-radius: 8px;
    border: none;
}
.small-box>.inner{
    padding: 16px;
}
.small-box p{
    font-size: 19px;
    margin-bottom: 5px;
    color: #fff;
}
.small-box h3{
    font-size: 30px !important;
    font-weight: 600;
    color: #fff;
}
.small-box .icon>i{
    color: rgba(255,255,255,0.20) !important;
    font-size: 45px !important;
    top: initial !important; 
    bottom: 15px !important;
}
.bg-orange{
    background-color: #F17B56 !important;
}
.bg-blue{
    background-color: #5699F1 !important;
}
.bg-purple{
    background-color: #A683D4 !important;
}
.bg-green{
    background-color: #53B160 !important;
}
.main-navigation{
    padding: 8px 20px 0;
    font-size: 14px;
    color: #fff;
    opacity: .5;
    white-space: nowrap;
}
body.sidebar-collapse .main-navigation{
    display: none;
}
.box-main{
    background: #222222;
    color: #FFF;
    width: 100%;
    margin-bottom: 20px;
    display: inline-block;
    border-top: 3px solid #9B5DE5
}
.box-main-top{
    padding: 10px 15px;
    width: 100%;
    display: inline-block;
}
.box-main-title{
    font-size: 18px;
    color: #FFF;
    float: left;
}
.box-main-top-right{
    float: right;
}
.box-serch-input{
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    font-size: 13px;
    color: #A2A2A2;
    padding: 7px 10px;
    width: 100%;
    padding-right: 40px;
}
.box-serch-field{
    display: inline-block;
    position: relative;
    width: 300px;
    
}
.box-serch-field .fa-search{
    position: absolute;
    right: 10px;
    color: #C4C4C4;
    top: 8px;
}
.box-main-top .btn-primary{
    padding: 6px 20px !important;
    margin-left: 15px;
}


.switch {
  position: relative;
  display: inline-block;
  width: 30px;
    height: 11px;
    margin-bottom: 0;
    vertical-align: middle;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.switchslider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.switchslider:before {
  position: absolute;
  content: "";
      height: 15px;
    width: 15px;
    left: 0px;
    bottom: -2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border: 1px solid #AAAAAA;
}

input:checked + .switchslider {
  background-color: #F7CD37;
}

input:focus + .switchslider {
  box-shadow: 0 0 1px #2196F3;

}

input:checked + .switchslider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
  border: 1px solid #F7CD37;
}

/* Rounded sliders */
.switchslider.round {
  border-radius: 34px;
}

.switchslider.round:before {
  border-radius: 50%;
}
.admin-table{
    margin-bottom: 0px;
}
.admin-table th{
    font-size: 14px;
    color: #FFF;
    font-weight: bold;
    border-left: none;
    border-right: none;
    white-space: nowrap;
}
.admin-table td{
    font-size: 14px;
    color: #FFF;
    border-left: none;
    border-right: none;
}
.admin-table td i{
    color: #9B5DE5;
}
.box-main-table{
    width: 100%;
    display: inline-block;
    padding: 15px;
}
.box-separator{
    display: inline-block;
    width: 100%;
    padding: 0 15px;
}
.box-main-bottom{
    padding: 10px 15px;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box-main-showing{
    
    font-size: 13px;
    color: #383838;
    font-weight: 600;
}
.pagination{
    margin-bottom: 0px;
}
.page-item .page-link{
    font-size: 13px;
    color: #777777;
}
.page-item.active .page-link{
    background-color: #9B5DE5;
    border-color: #9B5DE5;
}
.control-label{
    font-size: 14px;
    color: #000000;
    margin-bottom: 0px;
    font-weight: 600;
}
.modal-header{
    padding-left: 30px;
    border: none;
    padding-right: 30px;
}
.modal-body{
    padding-left: 30px;
    border: none;
    padding-right: 30px;
}
.modal-title{
    font-weight: 600;
    font-size: 20px;
    color: #000000;
}
.modal-content{
    border-radius: 10px;
    box-shadow: none;
}
.form-control{
    font-size: 14px;
    color: #000000;
}
.input-icon{
        position: absolute;
    top: 11px;
    right: 18px;
    color: #ABABAB;
    font-size: 14px;
}
select.form-control{
    appearance:none;
    -webkit-appearance:none;
    background:url(../../../dist/img/arrow-point-to-right.svg) no-repeat;
       background-size: 12px;
    background-position: 96% center;
}
.box-main-content{
    display: inline-block;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.manage-supplierdetail-profile{
    width: 90px;
    height: 90px;
    border: 1px solid #DBDBDB;
    border-radius: 12px;
    display: inline-block;
    position: relative;
        align-items: center;
    justify-content: center;
    vertical-align: bottom;
}
.manage-supplierdetail-profile img{
    max-width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    max-height: 100%;
}
.manage-supplierdetail-browse{
    width: 90px;
    height: 35px;
    display: inline-block;
    margin-bottom: 0px;
    vertical-align: bottom;
    margin-left: 10px;
}
.manage-supplierdetail-browse input{
    opacity: 0;
    width: 90px;
    position: absolute;
    height: 35px;
}
.box-main-content .btn-primary,.box-main-content .btn-primary:hover,
.box-main-content .btn-primary:active,.box-main-content .btn-primary:not(:disabled):not(.disabled):active{
        padding: 6px 13px;
        min-width: 90px;
}
.Manage-supplier-product-data{
    position: relative;
    max-width: 220px;
    padding-left: 50px;
}
.Manage-supplier-product-data span{
    float: left;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0px;
    padding: 2px;
    border: 1px solid #DBDBDB;
    border-radius: 4px;
}
.Manage-supplier-product-data span img{
    max-width: 100%;
    max-height: 100%;
}
.request-detail-text {
    font-size: 14px;
    color: #000;
    font-weight: bold;
}
.btn-danger,.btn-success{
    font-size: 14px;
    font-weight: 600;
}
.btn-gap-left{
    margin-left: 5px;
}
.admin-table td.blue-text{
    color: #2473DB
}
.admin-table td.green-text{
    color: #2EB865
}
.admin-table td.red-text{
    color: #EF3838
}

.lableClass{
  font-size: 14px;
}
@media only screen and (max-width: 767px){

    .box-serch-field{
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .box-main-top .btn-primary{
        margin-left: 0px;
        margin-right: 10px;
    }
    .box-main-top-right{
        width: 100%;
    }
    .box-main-bottom{
        display: inline-block;
        text-align: center;
    }
    .box-main-showing{
        margin: 10px 0px;
    }
    .pagination{
        justify-content: center;
    }
    .control-label{
        display: inline-block;
        width: 100%;
        margin-bottom: 10px;
    }


}


.content-wrapper{
    background-color: #222222 !important;
    color: #FFFFFF !important;
}

.navbar-white{
    background-color: #222222 !important;
    color: #FFF !important;
}

.text-dark{
    color: #FFF !important;
}
.dropdown-menu{
    background-color: #9B5DE5 !important;
}